<!DOCTYPE html>
<html>
<head>
  <title>Google Meet</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <header id="header">
    <% if (user) { %>
        <img id="profile-pic" src="<%= user._json.picture %>" alt="Profile Picture">
        <a href="/logout">Logout</a>
    <% } else { %>
        <a id="login-button" href="/auth/google">Login</a>
    <% } %>
    <img id="logo" src="./video-chat.png" alt="Google Meet Logo">
    <!-- <a id="login-button" href="#">Login</a> -->
  </header>

  <div id="main-content">
    <div id="meet-buttons">
      <a class="button" href="/room">Start a Meet</a>
      <a class="button" href="#">Schedule a Meet</a>
    </div>

    <input id="meet-link-input" type="text" placeholder="Enter meet link">

    <img id="image" src="home-page.jpg" alt="Image">
  </div>
</body>
</html>
