<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You left the meeting</h1>
    <form action="/">
        <button type="submit">Get back to home</button>
    </form>
    <form action="/room/<%= roomId %>">
        <button type="submit">Get back in meeting</button>
    </form>
</body>
</html>
